@import "tailwindcss";

:root {
    --background: #232228;
    --foreground: #ededed;
  --primary: #27A689;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Arial", sans-serif;
  --font-mono: "Arial", monospace;
}

@media (prefers-color-scheme: dark) { 

  :root {
    --background: #232228;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  background-color: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-width: none;
  min-height: none;
  width:100vw;
  height:100dvh;
  max-width: 100vw;
  max-height: 100dvh; 
  margin: 0;
  padding: 0;
}

.gradient-border {
  position: relative;
  border-radius: 12px; 
  background: linear-gradient(26.3deg, #232228 81.91%, #7FB961 100%);
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;  
  background: linear-gradient(226.49deg, #C5FFA7 -0.04%, #111111 28.25%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
  
.clicked {
  background: linear-gradient(0deg, #9FE779, #9FE779), 
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: #111;
  border-color: #9FE779;
}


/* Blue Clicked */
.clicked-blue {
  background: linear-gradient(0deg, #6893FE, #6893FE), 
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: #111;
  border-color: #6893FE;
}

/* Brown Clicked */
.clicked-brown {
  background: linear-gradient(0deg, #F68763, #F68763), 
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: #111;
  border-color: #F68763;
}

/* Green Clicked */
.clicked-green {
  background: linear-gradient(0deg, #20A889, #20A889), 
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: #111;
  border-color: #20A889;
}

body{
  overscroll-behavior: none;
  overflow: hidden;
}

/* Blue Theme */
.gradient-blue {
  position: relative;
  border-radius: 12px; 
  background: linear-gradient(26.3deg, #232228 81.91%, #6893FE 100%);
}

.gradient-blue::before {
  content: '';
  position: absolute;
  border-radius: 12px; 
  inset: 0; 
  padding: 2px;  
  background: linear-gradient(226.49deg, #A7C5FF -0.04%, #111111 28.25%);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* Brown Theme */
.gradient-brown {
  position: relative;
  border-radius: 12px; 
  background: linear-gradient(26.3deg, #232228 81.91%, #F68763 100%);
}

.gradient-brown::before {
  content: '';
  position: absolute;
  border-radius: 12px; 
  inset: 0; 
  padding: 2px;  
  background: linear-gradient(226.49deg, #FFC5A7 -0.04%, #111111 28.25%);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* Green Theme */
.gradient-green {
  position: relative;
  border-radius: 12px; 
  background: linear-gradient(26.3deg, #232228 81.91%, #20A889 100%);
}

.gradient-green::before {
  content: '';
  position: absolute;
  border-radius: 12px; 
  inset: 0; 
  padding: 2px;  
  background: linear-gradient(226.49deg, #A7FFE1 -0.04%, #111111 28.25%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}